<% layout('layouts/boilerplate') %>

    <h1>
        Welcome Home!
    </h1>
    <p>
        <a href="/campgrounds">See Campgrounds</a>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas atque quo voluptate non neque assumenda quae vel vitae quia esse dolorem, dolorum error sapiente reprehenderit velit molestiae vero repellat.
        Laboriosam incidunt repudiandae, praesentium delectus cupiditate sunt rem saepe, dignissimos asperiores voluptatum consequatur repellat doloribus vero mollitia beatae distinctio cumque cum animi? Exercitationem expedita corporis obcaecati tempore unde numquam itaque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas atque quo voluptate non neque assumenda quae vel vitae quia esse dolorem, dolorum error sapiente reprehenderit velit molestiae vero repellat.
        Laboriosam incidunt repudiandae, praesentium delectus cupiditate sunt rem saepe, dignissimos asperiores voluptatum consequatur repellat doloribus vero mollitia beatae distinctio cumque cum animi? Exercitationem expedita corporis obcaecati tempore unde numquam itaque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas atque quo voluptate non neque assumenda quae vel vitae quia esse dolorem, dolorum error sapiente reprehenderit velit molestiae vero repellat.
        Laboriosam incidunt repudiandae, praesentium delectus cupiditate sunt rem saepe, dignissimos asperiores voluptatum consequatur repellat doloribus vero mollitia beatae distinctio cumque cum animi? Exercitationem expedita corporis obcaecati tempore unde numquam itaque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas atque quo voluptate non neque assumenda quae vel vitae quia esse dolorem, dolorum error sapiente reprehenderit velit molestiae vero repellat.
        Laboriosam incidunt repudiandae, praesentium delectus cupiditate sunt rem saepe, dignissimos asperiores voluptatum consequatur repellat doloribus vero mollitia beatae distinctio cumque cum animi? Exercitationem expedita corporis obcaecati tempore unde numquam itaque.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quas atque quo voluptate non neque assumenda quae vel vitae quia esse dolorem, dolorum error sapiente reprehenderit velit molestiae vero repellat.
        Laboriosam incidunt repudiandae, praesentium delectus cupiditate sunt rem saepe, dignissimos asperiores voluptatum consequatur repellat doloribus vero mollitia beatae distinctio cumque cum animi? Exercitationem expedita corporis obcaecati tempore unde numquam itaque.
    </p>
    