<%- layout('layouts/boilerplate') %>

    <h1>All Campgrounds</h1>
    <p>
        <a href="/campgrounds/new">New Campground</a>
    </p>
    <ul>
        <% for (let camp of campgrounds) { %>
            <li> 
                <a href="/campgrounds/<%= camp._id %>">
                    <%= camp.name %> 
                </a>
            </li>
        <% } %>
    </ul>
