<%- layout('layouts/boilerplate') %>

    <h1>Add a New Campground</h1>
    <form action="/campgrounds" method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </p><p>
            <label for="name">Location:</label>
            <input type="text" name="location">
        </p><p>
            <label for="name">Price:</label>
            <input type="number" name="price">
        </p><p>
            <label for="name">Description:</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </p>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
    <p>
        <a href="/campgrounds">All Campgrounds</a>
    </p>
